# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_UPLOAD_BASE_URL=http://localhost:8000/uploads
NEXT_PUBLIC_AUTH_API_URL=http://localhost:8000/api/auth
NEXT_PUBLIC_PET_API_URL=http://localhost:8000/api/pets
NEXT_PUBLIC_USER_API_URL=http://localhost:8000/api/users

# Next.js Configuration
NEXT_TELEMETRY_DISABLED=1

# Node Environment
NODE_ENV=development
